/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 130px;
  margin: 0 15px;
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
  border-radius: 25px;
  background: #bf003c;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;

}
.wrapper-total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 130px;
    margin: 0 15px;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
    border-radius: 25px;
    background: #bf003c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
  
  }
.wrapper #icon {
  font-size: 35px;
  color: #333;
  width: 70px;
  text-align: center;
}
.wrapper input {
  max-width: 400px;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 18px;
  border-radius: 25px;
  background-color: #ededed;
  box-shadow: 0 0 0 2px #ededed;
  overflow: hidden;
  cursor: pointer;
}
input::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #2c2961;
  box-shadow: -208px 0 0 200px #2c2961;
}
.wrapper .slide-value {
  font-size: 27px;
  font-weight: 500;
  color: #333;
  width: 70px;
  text-align: center;
}
.container {
    margin-bottom: 200px; /* Ajoutez l'espace vertical entre les range sliders */
  }
  .wrapper {
    text-align: center;
    padding: 10px 20px; /* Espacement en haut et en bas de chaque .wrapper */
}

.slider-label { /* Texte pour montrer à quoi correspond chaque sliders */
    display: block;
    font-size: 14px;
    color: #2c2961;
    margin-bottom: 10px;
}
